useDynLib(bbm)

import("methods")
import("TMB")
import("FLCore")
import("ggplotFL")
importFrom("stats",
  "na.omit",
  "optim",
  "rbeta",
  "as.formula",
  "uniroot")

export(
  # "bbmChecks",
  # "prepareInput",
  # "prepareFLPar",
  "bbmFLPar",
  # "getNamesFromParnames",
  # "AllEqual",
  "periods",
  "calcPop",
  "calcIndices"
)

exportMethods(
  "bbmControl",
  "g",
  "param.fix",
  "bbmFit",
  "inputs", "convergence", "message", "fitSumm", 
  #"params", 
  "params.se", 
  "vcov", 
  "stock.bio", 
  "indicesB", 
  "indicesP",
  "+", 
  "residuals",
  "logLik",
  "AIC", 
  "BIC",
  "iter",
  "plot",
  "bbmFitresiduals",
  "residuals.B",
  "residuals.P",
  "plot",
  "qqmath",
  "bbm",
  "simIndices",
  "createInits"
)

exportClasses(
  "bbmControl", 
  "bbmFit",
  "bbmFitresiduals"
)
